@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
.row {
    margin: 0px !important;
}
.info-text{
 font-family: 'Indie Flower', cursive;
 font-size:calc(1em + 0.5vw);
}
.centred{
  font-family: 'Indie Flower', cursive;
  position:absolute;
  top:50%;
  width:100%;
  color:white;
  opacity:0;
  font-size:calc(1em + 2vw);
  
}
.welcome-text{
 font-family: 'Lobster', cursive;
  font-size:calc(1em + 5vw);
}
.info-btn {
    display: inline-block;
    
    background: white;
    padding: 5px 18px;
    border: solid 2px white;
    border-radius: 15px;
    color: white;
    /* margin: 15px; */
    background: rgba(255,255,255,0.25);
}
.info-btn:hover{
  background:rgba(255,255,255,0.8);
  color:black;
  cursor:pointer;
}
nav.navbar {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    z-index: 200;
  transition:1s;
}
nav.navbar:hover{
  opacity:0.7;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
item > img{
      heigh:100% !important;
      width:auto !important;
    }

.carousel-caption{
  position:absolute;
  top:45%;
  left:45%;
}
.max{
  position:relative;
  margin:0px !important;
  padding:0px !important;
}
.max > img{
  width:100%;
}

p.read-more{
  background:white;
  color:gray;
  width:150px;
  padding:15px;
  opacity:0.8;
  border-radius:12px;
}
.filter{
  position:absolute;
  background:rgba(20, 20, 21, 0.56);
  width:100%;
  height:0px;
  transition:1s;
}
.filter2{
  position:absolute;
  background:rgba(20, 20, 21, 0.56);
  width:0px;
  height:100%;
  transition:1s;
}
.second-row:hover > .filter{
   height:100%;
}
.second-row:hover > .centred{
  opacity:1;
}
.th-row:hover > .filter2 {
  width:100%;
  opacity:1;
}
.th-row:hover > p.centred {
  
  opacity:1 !important;
}

.carousel-control.left,.carousel-control.left:hover,.carousel-control.right,.carousel-control.right:hover{
  background:none !important;
}
.carousel-indicators{
  bottom:30px !important;
}
#Novis-footer {
    background-color: rgb(12, 11, 10) ;
    padding: 10px ;
  color:#d9d9d9;
  font-size:12px;
}

.btn-down{
  background:white;
  
  opacity:0.5;
  padding:5px;
  position:absolute;
  bottom:-5px;
  left:48%;
  z-index:100;
  border-radius:25%;
}
.btn-down:hover{
  opacity:1;
}